<configuration>

    <property name="LOG_FILE" value="connectionService"/>
    <property name="LOG_PATTERN" value="%d{dd-MM-yyyy HH:mm:ss.SSSS} [%-5level] %logger{36} [%t] [%X{traceId}-%X{spanId}]  ---  %m%n"/>

    <!-- appender and logger configs goes here -->
    <appender name="myConsoleAppender"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <appender name="myFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>../logs/${LOG_FILE}/${LOG_FILE}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>../logs/${LOG_FILE}/${LOG_FILE}-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
            <maxFileSize>20MB</maxFileSize>
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
    </appender>

    <logger name="com.shashank.linkedin.api_gateway" level="DEBUG">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="myConsoleAppender"/>
        <appender-ref ref="myFileAppender"/>
    </root>

</configuration>